* {
  margin: 0;
  padding: 0;
  /*  box-sizing: border-box;*/
}

body {
  background-color: #f4f4f4;
  font-family: arial, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.start-main {
  height: 100vh;
  width: 100vw;
  background: url(../img/goteburg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-form {
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  height: 80vh;
  max-height: 80vh;
  width: 45%;
  text-align: center;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#face {
  margin-top: 2rem;
  background-color: #3b5998;
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 0.5rem 2rem 0.5rem 3rem;
  border-radius: 5px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#github {
  margin-top: 1rem;
  background-color: #333333;
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#google {
  margin-top: 1rem;
  background-color: #e7e6dd;
  color: #000;
  border: none;
  font-size: 15px;
  padding: 0.5rem 3rem 0.5rem 0.8rem;
  border-radius: 5px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#google img {
  width: 25px;
  margin-right: 37px;
  margin-left: 0;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.logo {
  width: 70px;
}

#userImg {
  width: 2.5rem;
}

#userDisplay {
  font-size: 1.5em;
  font-family: monospace;
  padding-left: 1rem;
}

#logOut {
  display: none;
  color: #fff;
  margin-left: 6rem;
  font-style: italic;
  transition: 0.4s;
}

#logOut:hover {
  font-size: 1.5em;
  color: gold;
}

.nav-left {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  align-content: center;
  align-items: center;
}

.nav-left li {
  color: #fff;
}

.datum-container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.chat-form {
  display: none;
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  height: 80vh;
  max-height: 80vh;
  width: 45%;
  text-align: left;
  overflow: auto;
  overflow-x: hidden;
}

.sentMess:nth-child(odd) {
  background-color: #f4f4f4;
  margin: 15px 0;
  padding: 10px;
}


.sentMess p {
  color: #000;
  margin: 10px;
  float: left;
}
.sentMess button{

}

.datum-container {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.midLine {
  margin: 0 15px;
  display: inline-block;
  width: 120px;
  border-top: 1.5px solid #000;
}

/*.midSection {
  margin: 3rem 0;
}*/

/* LIKE DISLIKE BTN*/

/*Like*/

button.btnlikes {
  background-color: pink;

}

button.btnlikes:hover {
  background-color: powderblue;
}

/*Dislike*/

button.btnUnlikes {
  background-color: red;

}

button.btnUnlikes:hover {
  background-color: gold;
  
}


footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) and (min-width: 415px) {
  .start-form {
    width: 70%;
    height: 85vh;
  }
  .chat-form {
    width: 70%;
    height: 85vh;
  }
}

@media screen and (max-width: 485px) {
  .midLine {

    display: none;

  }
}


@media screen and (max-width: 415px) {
  .start-form {
    width: 95%;
    height: 95vh;
  }
  .chat-form {
    width: 95%;
    height: 95vh;
  }
}
